.navbar-brand {
    color: orange !important;
    font-size: 72px !important;
}

.nav-link {
    color: rgb(85, 71, 71) !important;
    font-size: 18px !important;
}

img {
    height: 300px;
    width: 500px;
    max-width:100%;
    height:auto;
}

footer {
    margin-top: 50px;
    height: 50px;
    background-color: rgb(230, 228, 228);
    padding-left: 14%;
}

